  
<launch>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint2base_link" 
                                                        args=" 0 0 0.05 0 0 0 /base_footprint /base_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link2laser_link"     
                                                        args="0.14 0 0.1 0 0 0 /base_link /laser_frame 10"/>

    <node pkg="tf" type="static_transform_publisher" name="base_laser2laser_link"     
                                                        args="0.0 0 0.0 0 0 0 /laser_frame /laser 10"/>
</launch>